.appBar {
    box-shadow: 'none';
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    width: 100% ;
    margin-left: 5%;
    }
  
  .image {
    margin-right: 10px;
    flex-grow: 1;
  }
  
  .title{
    text-align: center;
    flex-grow: 3;
  }
  .icon{
    flex-grow: 1;
  }
  .grow {
    flex-grow: 1;
  }