.title {
    padding-top: 2%;
    padding-bottom: 1%;
  }
  .toolbar {
      min-height: 44px;
  }
  .link{
    text-decoration: none;  
    padding-left: 0.5%;
    color: rgb(15, 73, 93);
  }
  .link:hover {
    text-decoration: underline;
  }
  
  .cardDetails {
      display: flex;
      margin-top: 2%;
      width: 100%;
      justify-content: space-between;
    }
  
  .emptyButton {
      min-width: 150px;
      margin-bottom: 5px;
      margin-right: 20px;
    }
  .checkoutButton {
      min-width: 150px;
    }
  
  
    